.botoes-acao {
    display: flex;
    flex-direction: column;
        
    .salvar, .descartar {
        width: 250px;
        padding: 14px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .salvar {
        background-color: #284729;
        color: #fff;
        border: none;
        margin-bottom: 10px;
    }

    .salvar:hover {
        background-color: #39633c;
    }

    .descartar {
        background-color: #fff;
        color: #8A8A8A;
        border: 2px solid #908D8D;
    }
    
      .descartar:hover {
        background-color: #efefef; 
      }

}