.component-botoesmenu {
    display: flex;
    flex-direction: column;
    width: 18%;
    padding: 1%;
    background-color: #284729;
    border-radius: 5%;

    .textos {
        color: white;

    }

    .icones {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 40%;

        #icone {
            width: 50%;
            align-self: flex-end;
        }

        #plus {
            height: 10%;
            align-self: flex-end;
            margin-bottom: 4px;
        }
    }
}