.pagina-editarServico {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .corpo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        height: 100%;
        gap: 7%;
        flex: 1;

        .cadastro {
            color: #284729;
            width: 55%;

            p {
                color: #284729;
                margin-left: 10px;
                font-family: Inter;
                font-weight: 700;
                font-size: 15px;
            }

            .formulario {
                background-color: #284729;
                color: #fff;
                border-radius: 15px;
                padding: 20px;
                font-weight: 500;
                font-size: 14px;
            }

            .campo {
                margin-bottom: 5px;
            }

            .campo label {
                display: block;
                margin-bottom: 5px;
            }

            .campo input {
                box-sizing: border-box;
                border-radius: 5px;
                padding: 10px;
                border: none;
                outline: none;
                margin-bottom: 5px;
                width: calc(100% - 5px);
            }

            .campo-grid {
                display: grid;
                gap: 5px;
            }

            .label-grid,
            .input-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 35px;
            }

            .input-grid input,
            .IDFuncionario {
                box-sizing: border-box;
                border-radius: 5px;
                padding: 10px;
                border: none;
                outline: none;
                margin-bottom: 10px;
                width: calc(100% - 5px);
            }

            .input-gridRadio {
                display: grid;
                grid-template-columns: auto 0fr auto 1fr;
                gap: 6px;
                align-items: first baseline;
            }

            .input-gridRadio input[type="radio"] {
                margin-top: 10px;
                transform: scale(1.2);
                cursor: pointer;

            }

            .input-gridRadio label {
                margin-right: 10px;
            }

        }

        .botoes {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 50px;
        }
    }
}