.pagina-dicas {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 5%;
    padding-bottom: 50px;

    .dicasJardim {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            padding-top: 20px;
            color: #034618;
            text-align: center;
            margin-bottom: 0;
        }
    }

    img {
        margin: auto;
    }
    
}