.pagina-sobrenos{
    display: flex;
    flex-direction: column;
    max-width: 90%;

    h1{
        padding-top: 20px;
        color: #034618;
        text-align: center;
    }

    .conteudo {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap: 4%;
        
        img {
            max-height: 40%;
            max-width: 40%;
        }

        p {
            text-align: justify;
            font-size: 120%;
        }
    }
}