.component-dicasCards {
    background-color: #33784A;
    color: white;
    width: 100%;
    border-radius: 15px;
    padding: 2px;

    li {
        font-weight: 600;
        font-size: 20px
    }

    p {
        margin: 1;
        text-align: justify;
        font-size: 90%;
        padding-left: 3%;
        padding-right: 3%;
    }
}